IO_LOC "RSTN" Y6;
IO_PORT "RSTN" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "CLK50M" R4;
IO_PORT "CLK50M" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5;

IO_LOC "pps_led" U22;
IO_PORT "pps_led" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "LJTAG_TRST" N20;
IO_PORT "LJTAG_TRST" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TMS" M22;
IO_PORT "LJTAG_TMS" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TDO" N22;
IO_PORT "LJTAG_TDO" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LJTAG_TDI" M20;
IO_PORT "LJTAG_TDI" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TCK" M21;
IO_PORT "LJTAG_TCK" PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "led0" V22;
IO_PORT "led0" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

